<div class="container">
  <div class="wrapper col-md-8 col-offset-2 col-sm-10 col-lg-8">
    <p><%= notice %></p>
    <h1>写真一覧</h1>
    <%= link_to "写真を投稿する", new_picture_path, class: 'btn btn-default' %>
    <% @pictures.each do |picture| %>
    <div class="white">
      <div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
          <%= profile_img(picture.user) if profile_img(picture.user) %>
        </div>
        <div class="align-left">
          <%= picture.user.name %>
        </div>
      </div><br>
      <div class="clear align-right">
        <div><%= image_tag(picture.img, :class => "img") %></div>
        <%= link_to "編集", edit_picture_path(picture.id), class: 'btn btn-default btn-sm btn-success' %>
        <%= link_to "削除", picture_path(picture.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
      </div>
      <div class="align-left">
        <p><strong><%= picture.user.name %></strong>  <%= picture.content %></p>
      </div>
    </div>
    <br><br>
    <% end %>
  </div>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id ="move-page-top">▲</a></p>
  </div>
</div>
